/* Loading Screen Styles */
#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white; /* Ekranın tamamını kaplayacak */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Diğer içeriklerin önünde gösterir */
}

.loading-potato {
    width: 150px;
    height: auto;
}

/* Sayfa içerikleri gizli olacak, yükleme bitince gösterilecek */
body.loading main,
body.loading header,
body.loading footer {
    display: none;
}

/* Normal site stili devam ediyor */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.language-select {
    text-align: right;
    margin: 20px;
}

.language-select button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    margin-left: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.language-select button:hover {
    background-color: #555;
}

/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #2b2b2b;
    padding: 20px;
    text-align: center;
    color: white;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.hero {
    background-color: #76c7c0;
    padding: 50px;
    text-align: center;
}

.hero h2 {
    margin: 0;
    font-size: 2.5em;
    color: white;
}

.hero p {
    font-size: 1.2em;
    margin: 20px 0;
}

.btn {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.features {
    display: flex;
    justify-content: space-around;
    padding: 40px;
    background-color: white;
}

.feature {
    text-align: center;
    max-width: 300px;
}

footer {
    background-color: #2b2b2b;
    padding: 20px;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

